<nav class="navbar navbar-expand-lg navbar-light bg-light mb-2 sticky-top">
  <div class="container">
    <a class="navbar-brand" href="#">
      <!--<img  alt="Logo" width="40" height="40">-->
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/transactions">Transactions</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<div id="toast-container" aria-live="polite" aria-atomic="true" class="bg-body-secondary position-relative bd-example-toasts rounded-3">
  <div class="toast-container p-3" id="toastPlacement"></div>
</div>
<router-outlet>

</router-outlet>


